server:
  port: 8601

spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
#    hibernate:
#      ddl-auto: update
  datasource:
    url: "jdbc:postgresql://localhost:5432/trade_ac"
    username: postgres
    password: root

  mvc:
    pathmatch:
      matching-strategy: ANT-PATH-MATCHER

logging:
  level:
    root: INFO
    org.springframework.web: ERROR
    org.hibernate: ERROR
    com.kata.com.kata.trade_accounting: DEBUG
  file:
    name: C:\logs\logsTradeAccounting.log